.sticky{
    width: 240px;
    height: 170px;
    z-index: 1090;
    box-shadow:3px 3px 10px rgba(0,0,0,0.45);
    -webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.45);
    -moz-box-shadow:3px 3px 10px rgba(0,0,0,0.45);
    background: #FFE440 !important;
    word-wrap: break-word;
    overflow: hidden;
}
.sticky-status{
    margin: auto;
}
.add-sticky {
    cursor: default;
    position:absolute;
    top:1px;
    left:1px;
    font-size:200%;
    background:#000;
    color:#fff;
    border:2px solid #fff;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    text-align:center;
    line-height:25px;
    width:30px;
    height:30px;
    z-index: 1090;
}
.sticky-content {
    min-height:100px;
    max-width: 235px;
    padding:5px;
}
.sticky-header {
    padding:5px;
    background:#f3f3f3;
    border-bottom:2px solid #fefefe;
    box-shadow:0 3px 5px rgba(0,0,0,0.25);
    -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.25);
    -moz-box-shadow:0 3px 5px rgba(0,0,0,0.25);
}
.sticky-status {
    color:#ccc;
    padding:5px;
}
.title{
    padding: 5px;
}